@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Encode Sans', sans-serif!important;
}

.argstrong{
	font-weight: 700;
}

.btn-send-content a{
	display: flex;
}

a:hover{
	text-decoration: none!important;
}

.jumbotron{
	color: #ffffff;
	background-color: #DE03AC!important;
}

.jumbotron h1{
	font-weight: 800;
}