<!DOCTYPE html>
<html>
	<head>
		<title>Coronavirus Report</title>
		<link th:href="@{/css/styles.css}" rel="stylesheet" href="../static/css/styles.css">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />    
		</head>
	<body>	
      <!-- open header -->
      <div class="jumbotron">
		<div class="container">
			<p th:text="${dateNow}"></p>
		    <h1 class="display-4">Reporte de la pandemia de Coronavirus</h1>
	        <hr class="my-4">
	        <p class="lead">Búsqueda por país</p>
		</div>
      </div>  
      <!-- close header -->
      <!-- open container -->     
      <div class="container">
        <div class="row">
	        <div class=" col-12 mb-4">
			    <form th:action="@{/search}" method="post" th:object="${searchString}" class="form-inline my-2 my-lg-0 mr-auto">
			      <input class="form-control mr-sm-2" type="text" placeholder="Seleccione un país" name="searchString">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			    </form>			    
	        </div>        
	        <div class="col-12">	        
	        <!-- open table --> 
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Estado</th>
				      <th scope="col">País</th>
				      <th scope="col">Total de casos</th>
				      <th scope="col">Cambios desde el último día</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="locationstat : ${searchResult}">
				      <th scope="row"></th>
				      <td th:text="${locationstat.state != ''}? ${locationstat.state} : '-'" th:classappend="${locationstat.country == 'Argentina'}? argstrong"></td>
				      <td th:text="${locationstat.country}" th:classappend="${locationstat.country == 'Argentina'}? argstrong"></td>
				      <td th:text="${locationstat.latestTotalCases}" th:classappend="${locationstat.country == 'Argentina'}? argstrong" class="text-center">0</td>
				      <td th:text="${locationstat.diffFromPrevDay}" th:classappend="${locationstat.country == 'Argentina'}? argstrong" class="text-center">0</td>				      				      
				    </tr>
				  </tbody>
				</table>          
	          <!-- close table -->
	          <p th:text="${searchResultError}"></p>
	        </div>		
        </div>         
     </div>
     <!-- close container -->          
	    
		<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>	
